<div class="erreCabecera">
  <div id="titulo" color="dark">Avisos</div>

  <div id="contenedortags">
    <label
      [className]="swtSize ? 'activo bounce' : 'inactivo'"
      (click)="opcionesTamano()"
      id="tags"
      >{{size}}</label
    >
    <label
      [className]="swtSexo ? 'activo bounce' : 'inactivo'"
      (click)="opcionesSexo()"
      id="tags"
      >{{sexo}}</label
    >
    <label
      [className]="swtEdad ? 'activo bounce' : 'inactivo'"
      (click)="opcionesEdad()"
      id="tags"
      >{{edad}}</label
    >
    <label
      [className]="swtSalud ? 'activo' : 'inactivo'"
      (click)="opcionesSalud()"
      id="tags"
      >{{salud}}</label
    >
  </div>
  <img
    (click)="abrirMenu()"
    class="avatar"
    *ngIf="authSrv.userData$| async"
    [src]="user.photoURL"
  />

  <!-- <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons> -->
</div>
<div class="fab" [routerLink]="['/crearaviso']"  > <ion-icon name="add"></ion-icon></div>

<ion-content color="light">
  <!--https://dribbble.com/shots/2210153-Day-057-Twitter-Profile<div class="circulo">-->

  <ion-grid [@cardAnimation]="avisos.length">
    <ion-row justify-content-center>
      <ion-col
        sizeXl="4"
        sizeLg="6"
        sizeMd="6"
        sizeSm="12"
        sizeXs="12"
        *ngFor="let aviso of avisos"
      >
        <app-aviso [aviso]="aviso"></app-aviso>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <br />
  <br />
  <br />
</ion-content>
