<ion-header color="light">
  <ion-toolbar color="light" >
  
    <ion-title color="dark" class= "animated bounceInRight faster">PetBoard</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding class= "animated bounceInUp fast" >
<!--https://dribbble.com/shots/2210153-Day-057-Twitter-Profile-->


<ion-grid>
  <ion-row justify-content-center> 
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12"  *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
          <ion-button shape="round"color="light" class="marcador">Ver mas
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
        <ion-card>
              
            <ion-card-header>
            
              
              <img src="./assets/demo/perro2.jpg">
              <ion-card-title>Firulaise</ion-card-title>
             
         
            </ion-card-header>
            <ion-card-content>
                  <ion-row>
                      <ion-col size=4>
                        <ion-col>
                          <ion-icon name="heart-outline"></ion-icon>
                        </ion-col>
                        <ion-col> <ion-text>111</ion-text>
                      </ion-col>
                    </ion-col>
                      <ion-col size=4><ion-icon name="bookmark-outline"></ion-icon></ion-col>
                      <ion-col size=4><ion-icon name="eye-outline"></ion-icon></ion-col>
                  </ion-row>
                <ion-row>
                  <ion-col size=3>
                    <ion-label>Mestizo</ion-label>
                  </ion-col>
                  <ion-col size=3>Macho
                  </ion-col>
                  <ion-col size=3>Adulto</ion-col>
                  <ion-col size=3>Sano</ion-col>
                  <ion-row>
                    <ion-text>ftfft7fftf9fftftd8dutydutd vtddd</ion-text>
                  </ion-row>
                </ion-row>
               
            </ion-card-content>
          </ion-card>
          <br>
      </ion-col>
  </ion-row>
  </ion-grid>

<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let item of list">
            <ion-card class="ion-no-padding ion-no-margin">
                <ion-item lines="none" class="ion-no-margin">
                    <ion-avatar slot="start">
                        <img [src]="item.avatar">
                    </ion-avatar>
                    <ion-label class="ion-padding-start">
                        <h5 class="ion-text-wrap">{{item.name}}</h5>
                        <p>{{item.date}}</p>
                    </ion-label>
                    <ion-buttons slot="end">
                        <ion-button>
                            <ion-icon name="heart" color="danger" slot="icon-only" size="large"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-item>
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                    <ion-label class="ion-margin-start">
                        <h4>{{item.title}}</h4>
                        <p class="ion-text-wrap"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac eros
                            est.</p>
                    </ion-label>
                </ion-item>
                <img [src]="item.img">
                <ion-item lines="none" class="ion-text-center">
                    <ion-icon name="eye" color="warning"></ion-icon>
                    <ion-text color="light" class="ion-margin-end">299</ion-text>
                    <ion-icon name="repeat" color="warning"></ion-icon>
                    <ion-text color="light" class="ion-margin-end">99</ion-text>
                    <ion-icon name="chatbubbles" color="warning"></ion-icon>
                    <ion-text color="light">23</ion-text>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
