<div class="erreCabecera">
  <div id="titulo" color="dark">Avisos</div>

  <div id="contenedortags">
   
    
      <label
        [className]="size !=='Tamaño'? 'activo' : 'inactivo'"
        (click)="opcionesTamano()"
        id="tags"
        >{{size}}</label
      >
    <label
      [className]="sexo !== 'Sexo' ? 'activo' : 'inactivo'"
      (click)="opcionesSexo()"
      id="tags"
      >{{sexo}}</label
    >
    <label
      [className]="edad !== 'Edad' ? 'activo' : 'inactivo'"
      (click)="opcionesEdad()"
      id="tags"
      >{{edad}}</label
    >
  </div>
  <img
    (click)="abrirMenu()"
    class="avatar"
    *ngIf="authSrv.userData$| async"
    [src]="user.photoURL"
  />

  <!-- <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons> -->
</div>
  <span [routerLink]="['/crearaviso']"
      class="dot">
    <svg-icon src="./assets/svg/add.svg" class="addsvg"></svg-icon>
    </span>


<ion-content color="light">
   <ion-refresher  color = "primary" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
<div *ngIf="(avisos) ; else esperando">
  <div  [@estadoPerroGato]="swtPerroGato" class="perrogato" >
    <svg-icon src="./assets/svg/perro.svg" class="perro"></svg-icon>
    <svg-icon src="./assets/svg/gato.svg" class="gato"></svg-icon>
    <ion-icon [@iconoPerroGato]='swtFlechaPerroGato' (click)="pushPerroGato()" class="iconoFlecha" name="chevron-forward-outline"></ion-icon>
  </div>
  <ion-grid *ngIf="(avisos)" [@cardAnimation]="avisos.length">
    <ion-row justify-content-center>
      <ion-col
        sizeXl="4"
        sizeLg="6"
        sizeMd="6"
        sizeSm="12"
        sizeXs="12"
        *ngFor="let aviso of avisos"
      >
        <app-aviso [aviso]="aviso"></app-aviso>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <br />
  <br />
  <br />
  </div>
  <ng-template #esperando>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-spinner color="primary"name="lines"></ion-spinner>
  </ng-template>
</ion-content>
