@import url('./bounce.css');
ion-content {
   background: var(--ion-color-light)!important;
  position: relative;
  padding-top: 20px;
  border-radius: 20px;
  z-index: 100;
}
.erreCabecera {
   background: var(--ion-color-light);
  position: static;
  height: 80px !important;
  min-height: 80px;
}
ion-fab-button {

  
}

.avatar{
  left: 10px;

  border-radius: 100%;
  width: 35px;
  height: 35px;
  z-index: 200!important;
  top: 10px;
  position:absolute!important;
 box-shadow:  7px 7px 14px #bbbab6, 
             -7px -7px 14px #ffffff;
}
#titulo {
  position: relative;
  top: 45px;
  height: 40px !important;
  position: absolute !important;
  padding-left: 50px !important;
  z-index: 1000;
  font-family: 'Poppins';
  
 font-size: 30px!important;

  line-height: 26.4px!important;
  font-weight: 900!important;
}
// 

ion-grid {
  position: relative;
  padding-top: 20px;
  ion-row {
    position: relative;
    padding-right: 10px;
    ion-col {
      position: relative;
      padding: 10px;
    }
  }
}
#contenedortags  {
  position: absolute;
  right: 5px;
  width: 80%;
  height: 40px;
  z-index: 11;
}
#tags {
  font-size: 15px;
  padding-left: 15px;
  position: relative;
  top: 5px!important;
}
.activo {
  color: var(--ion-color-tertiary);
}
.inactivo {
  color: var(--ion-color-warning);
}
ion-icon {
  position: relative;
  color: white;
  font-size: 40px!important;
  top: 5px!important;
  left: 6px;
}
.fab {
    position: absolute;
  top: 40px;
  right:35px;
  z-index: 1000!important;
  width: 54px;
  height: 54px;
  border-radius: 58px;
background: linear-gradient(45deg, #ff4200, #e63800);
box-shadow:  4px -4px 12px #c22f00, 
             -4px 4px 12px #ff4d00;
}