<div class="card--neumorphic">
  <div class="logintitulo">
    Ingresar datos
  </div>

  <ion-list >
    <ion-item lines="none" color="light">
      <ion-icon name="mail-outline"></ion-icon>
      <article class="input-material-design">
        <input type="text" name="name" autocomplete="off" required>
        <label for="name" class="input-label">
          <span class="input-content">Correo</span>
        </label>
      </article>
    </ion-item>
    <ion-item lines="none" color="light">
      <ion-icon name="key-outline"></ion-icon>

      <ion-item color="light">
        <ion-label color ="primary" position="floating">Floating Label</ion-label>
        <ion-input color ="primary"></ion-input>
      </ion-item>

    </ion-item>

  </ion-list>
  <div class="abajo">
    
  </div>
</div>

