<ion-header>
<img class="logo" src="./assets/app/orange-background.jpg"><img>



  <img class='avatar' src="./assets/app/avatar.png">

<ion-label class="labelcabecera">rodolfo.leiva.rojas@gmail.com</ion-label>

</ion-header>
<ion-content fullscreen=true>
          <div  *ngFor="let item of lista let i = index ">
              <ion-item lines="none"  
                        [class.activo] = "item.activo"  
                        class="inactivo"
                        (click)="push(i)"
              >
                  <ion-icon *ngIf=(!item.activo)  [name]="item.iconName" class="inactivo"></ion-icon>
                  <ion-icon *ngIf=(item.activo) [name]="item.iconName2"></ion-icon>
                  <ion-label> {{item.displayText}} {{item.expand}} </ion-label>
                  <ion-icon class="animated zoomIn faster coloricon" *ngIf=(item.activo) [name]="item.iconFinal" ></ion-icon>
                  <ion-icon class="animated zoomIn faster" *ngIf=(!item.activo) [name]="item.iconFinal2"></ion-icon>
              
                </ion-item>
                  <ion-list class='hijo' *ngIf=(item.expanded) [@inOutAnimation] >
                    <ion-item  class='hijo-item' *ngFor="let subitem of item.subOptions"  lines = "none"  (click)="push()">
                      <ion-icon class = "inactivo" [name]="subitem.iconName2"></ion-icon>
                      <ion-label> {{subitem.displayText}}  </ion-label>
                    </ion-item>
                  </ion-list>
          </div>
   
</ion-content>