@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


.ion-content {
  background: var(--ion-color-primary);
  padding-right: 20px;
  color : #56c8d8
}
ion.item ´{
color:  var(--ion-color-dark)!important;
font-family: 'Acme', ;
}

.inactivo {
  border: 1px; 
  color: #bdbdbd;
}
.activo {
  right: 2px;
  bottom: 4px;
  background: silver !important;
  color: #56c8d8;
-webkit-box-shadow: 12px 13px 14px -4px #2d5256; 
box-shadow: 12px 13px 14px -4px #2d5256;
}
.coloricon {
  color: var(--ion-color-primary)!important;
}

ion-header {
  height: 170px;
}
.logo {
   height: 170px;
   width: 100%;
   z-index: 1!important;
    position:absolute!important;
}
.cabecera {
  height: 100%;
  width: 100%;
  background: skyblue;

}
.labelcabecera{
  font-family: 'Acme', ;
  bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 20px;
  color : var(--ion-color-tertiary)!important;
  z-index: 2!important;
   position:absolute!important;
}
.avatar{
  left: 20px;
   border: 2px solid  #00424b;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  z-index: 2!important;
  bottom: 50px;
   position:absolute!important;
}
ion-labe{
  padding-right: 100px!important;
    color:  var(--ion-color-dark)!important;
} 
.hijo {
  -webkit-box-shadow: 12px 13px 14px -4px #2d5256; 
  box-shadow: 12px 13px 14px -4px #2d5256;
  color: var(--ion-color-dark)!important;
  background: var(--ion-color-light)!important;

}
.hijo-item {
  padding-bottom: 20;
  width: 190px;
  color:  var(--ion-color-dark)!important;
  background: var(--ion-color-light)!important;
}
.iconfinal {

}
