<ion-header color="light">
 

  <img  class="avatar" *ngIf="authSrv.userData$| async" [src]="user.photoURL" />

  <ion-label *ngIf="authSrv.userData$| async" class="labelcabecera">{{user.displayName}}</ion-label>
</ion-header>
<ion-content color="light"  fullscreen="true">
  <div
   
  >
  <ion-item color="medium" lines="none"  (click)="llamaraccion('Editar')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/perfil.svg"></svg-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>
 <ion-item color="medium" lines="none"  (click)="llamaraccion('Favoritos')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/corazon-outfill.svg"></svg-icon>
    <ion-label>Favoritos</ion-label>
  </ion-item>
   <ion-item color="medium" lines="none"  (click)="llamaraccion('Solicitudes')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/solicitud-adopcion.svg"></svg-icon>
    <ion-label>Mis solicitudes</ion-label>
  </ion-item>
    <ion-item color="medium" lines="none"  (click)="llamaraccion('Avisos')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/avisos.svg"></svg-icon>
    <ion-label>Mis avisos</ion-label>
  </ion-item>
   <ion-item color="medium" lines="none"  (click)="llamaraccion('FAQ')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/preguntas.svg"></svg-icon>
    <ion-label>FAQ</ion-label>
  </ion-item>
   <ion-item color="medium" lines="none"  (click)="llamaraccion('Salir')">
    <svg-icon [style.fill]="srvApp.dark" src="./assets/svg/exit.svg"></svg-icon>
    <ion-label>Salir de la aplicaciòn</ion-label>
  </ion-item>
    
  </div>
</ion-content>
