
.ion-content {
 background: whitesmoke!important;
};
ion-icon{
  padding-right: 20px;
  color : #56c8d8
}
ion.item ´{
  color: #bdbdbd
}

.inactivo {
  border: 1px; 
  color: #bdbdbd;
}
.activo {
  right: 2px;
  bottom: 4px;
  background: silver !important;
  color: #56c8d8;
-webkit-box-shadow: 12px 13px 14px -4px #2d5256; 
box-shadow: 12px 13px 14px -4px #2d5256;
}
.coloricon {
  color: #ff7043;
}

ion-header {
  height: 170px;
   background-image: './assets/app/fondo_menu.jpg'!important;
}
.logo {
   height: 170px;
   width: 100%;
   z-index: 1!important;
    position:absolute!important;
}
.cabecera {
  height: 100%;
  width: 100%;
  background: skyblue;

}
.labelcabecera{
  bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 20px;
  color : #00424b;
  z-index: 2!important;
   position:absolute!important;
}
.avatar{
  left: 20px;
   border: 2px solid  #00424b;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  z-index: 2!important;
  bottom: 50px;
   position:absolute!important;
}
ion-labe{
  padding-right: 100px!important;
} 
.hijo {
  -webkit-box-shadow: 12px 13px 14px -4px #2d5256; 
  box-shadow: 12px 13px 14px -4px #2d5256;
  width: 260px!important;
  color:  #cfd8dc!important;

}
.hijo-item {
  left : 20px;
  color:  #bdbdbd!important
}
