.profile-card{
  width: 95%;
  height: 90%;
  top :20px;
  left:10px;
  border-radius: 20px;

  .label{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-align: center;
    border-radius: 50%;

    p{
      position: absolute;
      width: 100%;
      background: var( --ion-color-primary);
      color:white!important;
      text-transform: uppercase;
      transition: all 0.5s ease;
    }
    img{
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid var( --ion-color-primary);
      &:hover{
        border: 2px solid var( --ion-color-primary);
        cursor: pointer;
      }
    }
  }
}
ion-input {
    padding-left: 10px!important;
    border-radius: 10px;
    background: #FFF3E0!important;
}
ion-button {
    top :30px!important;
}
ion-label{
    color :#455A64 !important;
}