<ion-content>
  <ion-tabs>
    <div id="nabBar">
      <div id="botonera"></div>
      <div
        [routerLink]="['']"
        class="dot"
        [@seleccionado]="{value : tabOpcion[0].estado, params: { coloractivo: srvApp.primary, colorinactivo: srvApp.light}}"
        (click)="push(0)"
        id="fab1"
        color="light"
      >
        <svg-icon
          src="./assets/svg/icono-home.svg"
          [style.fill]="tabOpcion[0].colorIcon"
          id="iconoHome"
        ></svg-icon>
      </div>
      <div
        [routerLink]="['/tabnav/crearaviso']"
        class="dot"
        [@seleccionado]="{value : tabOpcion[1].estado, params: { coloractivo: srvApp.primary, colorinactivo: srvApp.light}}"
        (click)="push(1)"
        id="fab2"
      >
        <svg-icon
          src="./assets/svg/add.svg"
          [style.fill]="tabOpcion[1].colorIcon"
          id="iconoAdd"
        ></svg-icon>
      </div>

      <div
        [routerLink]="['/tabnav/lista-mensajes']"
        class="dot"
        [@seleccionado]="{value : tabOpcion[2].estado, params: { coloractivo: srvApp.primary, colorinactivo: srvApp.light}}"
        (click)="push(2)"
        id="fab3"
      >
        <svg-icon
          id="icono"
           [style.fill]="tabOpcion[2].colorIcon"
          src="./assets/svg/icono-mensaje.svg"
        ></svg-icon>
      </div>
    </div>
  </ion-tabs>
</ion-content>
