
ion-tab-bar {
background: var(--ion-color-dark);
position: relative;
}
#tabBar{
    background: var(--ion-color-primary)!important;
    position: absolute;
    z-index: 1001;  
    width :100%;

}
ion-button {
    border-radius: 100%;
}
#botonera {
    opacity: 1;
    padding: 5px;
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-light-contrast);
    border-radius: 40px;
    border-bottom-right-radius: 0px ;
    border-bottom-left-radius: 0px ;
    position: absolute;
    z-index: 1002;  
    bottom: 0px;
    height: 52px;
    width :100%;
 
    
    
}
#fab1 {
    left: 15%;
    position: absolute;
    z-index: 1003;  
    bottom: 2px;  
}
#fab2 {
    left: 44%;
    position: absolute;
    z-index: 1003;  
    bottom: 2px;
    fill: var(--ion-color-light)!important;

}
#fab3 {
    right: 15%;
    position: absolute;
    z-index: 1003;  
    bottom: 2px;
}
.seleccion {
    fill: var(--ion-color-primary)!important;
}

.icono {
   position: absolute;
width: 51px;
height: 45px;
left: 14px;
top: 10px;
z-index:10;
}
.iconoMensaje {
   position: absolute;
width: 51px;
height: 45px;
left: 14px;
top: 12px;
z-index:10;
}
.iconoHome {
   position: absolute;
width: 51px;
height: 45px;
left: 12px;
top: 7px;
z-index:10;
}
.dot {
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  height: 45px;
  width: 51px;
  background: var(--ion-color-light);
  border-radius: 50%;
  display: inline-block;
}