<ion-content >
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="logo-vimeo"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
  <ion-tabs color='secondary'>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
          <ion-tab-button tab="Adopta">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>adopta</ion-label>
          </ion-tab-button>
      <ion-tab-button tab="avisos">
      <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Avisos</ion-label>
      </ion-tab-button>

    
        <ion-tab-button tab="lista-mensajes">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>Mensajes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>