
ion-tab-bar {
background: var(--ion-color-dark);
position: relative;
}
#tabBar{
    background: var(--ion-color-primary)!important;
    position: absolute;
    z-index: 1001;  
    width :100%;

}
ion-button {
    border-radius: 100%;
}
#botonera {
    opacity: 1;
    padding: 5px;
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-light-contrast);
    border-radius: 40px;
    border-bottom-right-radius: 0px ;
    border-bottom-left-radius: 0px ;
    position: absolute;
    z-index: 1002;  
    bottom: 0px;
    height: 52px;
    width :100%;  
}
#fab1 {
    left: 15%;
    position: absolute;
    z-index: 1003;  
    bottom: 0px;  
   outline: none;

}
#fab2 {
    left: 44%;
    position: absolute;
    z-index: 1003;  
    bottom: 0px;
     outline: none;

}
#fab3 {
    right: 15%;
    position: absolute;
    z-index: 1003;  
    bottom: 0px;
     outline: none;
}
.seleccion {
    fill: var(--ion-color-primary)!important;
}

#icono {
   position: absolute;
width: 51px;
height: 45px;
left: 14px;
top: 13px;
z-index:10;
}
#iconoAdd {
   position: absolute;
width: 51px;
height: 45px;
left: 10px;
top: 11px!important;
z-index:10;
}
#iconoHome {
   position: absolute;
width: 51px;
height: 45px;
left: 12px;
top: 7px;
z-index:10;
}
.iconoinactivo {
    fill:var(--ion-color-medium)
}
.iconoactivo {
    fill:var(--ion-color-light-contrast)
}
.dot {
  position: absolute;
  height: 45px;
  width: 51px;
  background: var(--ion-color-light);
  border-radius: 50%;
  display: inline-block;
}