<ion-content>
<ion-grid>
  <ion-row>
<ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
  <div class="c-card">
    <div class="c-card__header">
      <h2 class="c-card__title">Swimming Championships</h2>
      <button class="c-button c-button--join" type="button">Get Tickets Now</button>
    </div>
    <div class="c-card__content">
      <p class="c-card__details">
        <span class="c-card__description">Platinum Package</span>
        <span class="c-card__amount">$249.99</span>
      </p>
    </div>
  </div>
  
</ion-col>
</ion-row>
</ion-grid>
</ion-content>