.back {
  position: absolute;
  transform: translatey(-50%);
  top: 150px;
  left:10px;
}
.forward {
  position: absolute;
  transform: translatey( -50%);
  top:150px;
  right: 10px;
}
content {
  position: relative;
}
.marco {
    position: absolute;
    min-height: 300px;
    width: 100%;
   border:1px solid;
}
.pared {
    position: relative;
 
}
div {
 position: relative;
}
ion-fab-button {
   display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 23;
}
.fab {
  position: absolute;
  transform: translatex( -50%);
  bottom:0px;
  left: 50%;
  z-index: 3;
  display: inline!important;
}
.foto{
  top:0;
  position: absolute;
}
.region {
  top: -15px;
  position: absolute;
  right: 10px;
   font-weight: 200;
}
.comuna {
  top: 3px;
  position: absolute;
  right: 10px;
   font-weight: 200;
}
.corazonactivo {
   position: absolute;
  top: -1px!important;
  fill: var(--ion-color-tertiary);
}
.corazoninactivo {
   position: absolute;
  top: -1px!important;
  fill: white;
}
.info {
  font-weight: 900;
}
.tit {
  font-weight: 900;
  text-align: center;
}
.favoritos {
  position: absolute;
  top: -3px!important;
  left: 40px;
  font-weight: 200;
}