<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="aviso$ | async as aviso"
      >{{aviso.nombre | titlecase}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="aviso$ | async as aviso">
  <div [style.height]="largocaja" class="pared"> 
    <div *ngFor="let foto of fotos index as i">
 
        <img class="foto" [@thumbState]="foto.estado" [src]="foto.imagen" />
        <svg-icon [style.top]="topbotones" *ngIf=(foto.activa) (click)="pasarFoto('back',i)" class="back" src="./assets/svg/back.svg"></svg-icon>
        <svg-icon [style.top]="topbotones" *ngIf=(foto.activa) (click)="pasarFoto('forward',i)" class="forward" src="./assets/svg/forward.svg"></svg-icon>
      
    </div>
    <div class="fab">
        <ion-fab-button *ngFor="let foto of fotos index as i" (click)="activarFoto(i)" [color]="foto.color" size="small"
          >{{foto.numero}}</ion-fab-button>
    </div>
  </div>

 <br>
  {{srvApp.ancho}}
  <br>
  {{largocaja}}
  <br>
  {{aviso.descripcion}}
</ion-content>
