.back {
  position: absolute;
  transform: translatey(-50%);
  top: 150px;
  left:10px;
}
.forward {
  position: absolute;
  transform: translatey( -50%);
  top:150px;
  right: 10px;
}
content {
  position: relative;
}
.marco {
    position: absolute;
    min-height: 300px;
    width: 100%;
   border:1px solid;
}
.pared {
    position: relative;
 
}
div {
 position: relative;
}
ion-fab-button {
   display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 23;
}
.fab {
  position: absolute;
  transform: translatex( -50%);
  bottom:0px;
  left: 50%;
  z-index: 3;
  display: inline!important;
}
.foto{
  top:0;
  position: absolute;
}