


#fotos{ 
    position: relative;
    width: 100%;
    right: 2px!important;
    height: 280px;
}
.foto{
    position: relative;
    border: 1px solid green;
    width: 40%;
    left: 2px;
    height: 50%;
    
}
ion-col{
  padding: 6px;  
} 
@mixin ion-card{
    object-fit: cover;
    border-radius: 15px;
    border-radius: 20px;
    background: var(--ion-color-light);
    position: relative;
    height: 135px!important;
    left: 3px;
}
.cardvacia{
   @include ion-card;
  box-shadow: inset 5px 5px 10px var(--ion-color-secondary), 
            inset -5px -5px 10px var(--ion-color-medium)!important;
}
.cardllena {
  @include ion-card;
  box-shadow:  5px 5px 10px var(--ion-color-secondary), 
             -5px -5px 10px var(--ion-color-medium)!important;
}
@mixin font-regular {
	font-family: var(--font-normal);
    font-weight: 400;
}
ion-label {
  @include font-regular;

}
ion-textarea{
  position: relative;
    padding-left: 20px;
    border-radius: 10px;
 background: #f6f5f0;
box-shadow: inset 5px 5px 10px  var(--ion-color-secondary), 
            inset -5px -5px 10px  var(--ion-color-medium);
}
ion-button {
  position: relative;
  top: 1px;
  font-size: 20px;
  bottom: 70px;
  width: 80%;
  left:10%;
  height: 56px;
  z-index: 100;
  border-radius: 49px;
  background: #f6f5f0!important;
  box-shadow:  7px 7px 21px var(--secondary), 
             -7px -7px 21px var(--sombra-palida);
  
}
.centro {
    position: relative;
    top:4%;
    left:4%;
  height: 94%;
  width: 94%;
  max-height: 114px!important;
  border-radius: 20px;
  background: #f6f5f0;
  box-shadow:  5px 5px 10px #d1d0cc, 
             -5px -5px 10px #ffffff;
}
#add {
  
    position: absolute;
  
 transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    
}
.addactivo {
  fill : var(--ion-color-tertiary);
}
.addinactivo {
  fill : var(--ion-color-secondary);
}
.svg-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.imagen {
   background: var(--ion-color-light)!important;
 
}
#container {
  background: var(--ion-color-light);
  width: 100%;
  height: 1000px;
  top:1px;
  position: absolute;
  z-index: 100;
}
h5 {
  padding-left: 20px;
}