
ion-card {
  position: relative;
  min-width: 330px;
  border-radius: 20px;
  ion-card-header {
    ion-item {
      background-color: white;
      border: 2px solid white !important;
      position: absolute;
      width: 100%;
      left: 10%;
      bottom: -20px;
      border-radius: 30px;
    }
    ion-label {
      font-family: "Mansalva", cursive;
      font-size: 1.3rem;
  
      position: absolute;
      color: var(--ion-color-light);
      top: 10px;
      z-index: 8;
    }
    .dias {
      color: var(--ion-color-tertiary) !important;
      right: 20px;
      top : 30px;
      font-family: "acme";
      font-size: 20px;
    }
    .diasNumero {
      color: var(--ion-color-tertiary) !important;
      right: 20px;
      top : 10px;
      font-family: "acme";
      font-size: 20px;
    }
    object-fit: cover;
    min-height: 200px;
    ion-card-title {
      padding-left: 10px;
    }
    ion-card-subtitle {
      padding-left: 10px;
    }
  }
}
ion-card-content {
  ion-row {
    padding: 0px;
    ion-col {
      padding: 0px;
      min-width: 90px !important;
    }
  }

  padding-top: 27px;
  ion-icon {
    font-size: 1.3rem !important;
  }
}
.ayudabusca {
  font-size: 0.5 rem !important;
}
ion-text {
  font-family: "Mansalva", cursive;
  font-size: 40px !important;
  padding-left: 20px;

  font-size: 2rem;
}
.foto {
  height: 260px;
  width: 860px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#numeros {
  font-family: "Raleway" !important;
  font-size: 15px !important;
}
#iconofotos {
  position: absolute;
  font-size: 30px;
  top:15px;
  z-index: 10;
  padding-left: 40!important;
  color :white
}
#distancia {
  position: absolute;
  color:var(--ion-color-warning);
  top:5px;
  left: 170px;
}
#fecha {
  position: absolute;
  color:var(--ion-color-warning);
  top:25px;
  left: 170px;
}