        <ion-card>
          <ion-card-header>

            <ion-label class="diasNumero">{{aviso.dias}}</ion-label>
            <ion-label class="dias">Fotos</ion-label>
            <ion-item  lines="none">
               <ion-text >{{aviso.nombre}}</ion-text>
               <label id="fecha">{{aviso.creacion}}</label>
              <label id="distancia">{{aviso.distancia}}</label>
            </ion-item>
            <img class="foto" [src]="aviso.portada" />
            <svg-icon
          src="./assets/svg/corazon.svg"
          class="icono"
          [stretch]="true"
        ></svg-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <br>
              <ion-col class="ayudabusca" size="3">Macho </ion-col>
              <ion-col class="ayudabusca" size="3">Adulto</ion-col>
              <ion-col class="ayudabusca" size="3">Grande</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>