        <ion-card>
          <ion-card-header>
            <ion-label class="diasNumero">{{aviso.dias}}</ion-label>
            <ion-label class="dias">dias</ion-label>
            <ion-item color ="light" lines="none">
              <label id="distancia">{{aviso.distancia}}</label>
              <label id="fecha">{{aviso.creacion}}</label>
              <ion-text >{{aviso.nombre}}</ion-text>
            </ion-item>
            <img class="foto" [src]="aviso.portada" />
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="4">
                <ion-col>
                  <ion-icon name="heart-outline"></ion-icon>
                </ion-col>
                <ion-col> 
                  <ion-text id="numeros">{{aviso.difundido}}</ion-text> 
                </ion-col>
              </ion-col>
                <ion-col size="4">
                <ion-col>
                  <ion-icon name="bookmark-outline"></ion-icon>
                </ion-col>
                <ion-col> 
                  <ion-text id="numeros">{{aviso.difundido}}</ion-text> 
                </ion-col>
              </ion-col>
                <ion-col size="4">
                <ion-col>
                  <ion-icon name="chatbox-outline"></ion-icon>
                </ion-col>
                <ion-col> 
                  <ion-text id="numeros">{{aviso.difundido}}</ion-text> 
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <br>
              <ion-col size="3">
                <ion-label class="ayudabusca">Mestizo</ion-label>
              </ion-col>
              <ion-col size="3">Macho </ion-col>
              <ion-col size="3">Adulto</ion-col>
              <ion-col size="3">Sano</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>