<div class='contenedor'>
 
<div class="card--neumorphic">
  <div class="logintitulo">
    Ingresar  datos
  </div>
    <form [formGroup]="rForm">
        <ion-item  lines="none">
          <ion-icon class="animated bounceInDown fast" name="mail-outline"></ion-icon>
          <ion-item class= "animated bounceInRight fast"  >
            <ion-label color="primary" position="floating">Correo</ion-label>
            <ion-input mode ="md" formControlName="email" type="text"  color="primary"></ion-input>
            
          </ion-item>
        </ion-item>
          <ion-text class= "center animated zoomIn fast"  color="danger" *ngIf="!rForm.controls.email.valid  && rForm.controls.email.dirty">
            Favor ingresar Correo Valido.
          </ion-text>
        <ion-item lines="none" >
        
          <ion-icon class="animated bounceInLeft fast"   name="key-outline"></ion-icon>
            <ion-item class= "animated bounceInUp fast"  >
            <ion-label color="primary" position="floating">Contraseña</ion-label>
            <ion-input  formControlName="pwd" type="password" color="primary"></ion-input>
          </ion-item>

        </ion-item>
    <ion-text class= "center " color="danger" *ngIf="!rForm.controls.pwd.valid  && rForm.controls.pwd.dirty">
      Largo minimo 6 caracteres
    </ion-text>
      <div class="abajo">
        
        <ion-button  shape="round" size ="large" expand="block" [disabled]="!rForm.valid" (click)="onLogin()">Entrar</ion-button>
        <ion-row>
          <ion-col >
            <ion-col>
              <a class="links" [routerLink]="['/login/olvido']">Reiniciar password</a>
            </ion-col>
            <ion-col>
              <a class="links" [routerLink]="['/login/registro']">Registrarse</a>
            </ion-col>
          </ion-col>
        </ion-row>
  </div>
  </form>
</div>
</div>

